@viewport {
	width: device-width;
	zoom: 1.0;
}

body {
	font-family: sans-serif;
	padding: 1rem;
	background-color: gold;
}

h1 {
	font-size: 4rem;
	margin: 0;
	text-align: center;
}

hr {
	height: 0.2rem;
	background-color: black;
	border-color: black;
}

.main {
	width: 80%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
}
